@{
    ViewBag.Title = "Home Page";
}

<div class="row ">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center mt-5">
        <h1 class="header">Free Online College </h1>
        <h1 ms-2>Management System Software</h1>
        <p class="pcolor">
            Now you can manage your school, college, or any educational center with eSkooly.
            It's 100% free for a lifetime with no limitations.
        </p>
        <a href="/home/Sign" class=" btn btn-primary"> <i class="fa fa-envelope "></i> Sign Up now It's Free</a>
        <a href="#about" class="sign btn btn-primary "><i class="fa-solid fa-arrow-right"></i> Learn More</a><br /><br />
        <a href="/home/Sign" class="text-decoration-none"><i class="fa-solid fa-arrow-right"></i> See how to work</a>
    </div>
    <div class="col-sm-3 "></div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
    </div>
</div>
<br />
<!-- Start  section -->
<section class="hero-section">
    <div class="hero-container">
        <img src="~/Content/images/laptop.png" class="main-img" alt="Laptop Dashboard">
        <img src="~/Content/images/a6.png" class="side-img1 img1" alt="Tick Icon">
        <img src="~/Content/images/a4.png" class="side-img1 img4" alt="Chart">
        <img src="~/Content/images/mobile1.png" class="side-img img2" alt="Folder Icon">
    </div>
</section>
<br />
<br />
<!-- end  section -->
<section class="middle pt-5" id="about">
    <div class="row ">
        <div class="col-sm-12 ms-2 text-center ">
            <h1>
                Features Of School Management System
            </h1><br />
            <p>
                eSkooly is a complete and feature-rich school management software for all educational institutes.
                This school management software is for learning, administration, and management activities in schools,
                colleges, universities, tuition centers, or training centers. Our free school management
                system manages everything starting from admission to attendance and exams to result in cards.
            </p>
        </div>
    </div>
</section>
<section class="feature-section">
    <div class="row">
        <div class="col-sm-4 pt-3 ps-4">
            <h2>Absolutely Free</h2>
            <p>
                eSkooly is an absolutely 100% free school management software for a
                lifetime with no limitations. No need to buy anything. Just Sign Up
            </p><br />
            <h2>Cloud Based Software</h2>
            <p>
                eSkooly is free school software that is always online, you can access it from anywhere
                , anytime. We will take care of your data and backups.
            </p><br />
            <h1> Regular Updates & Support</h1>
            <p>
                We add new and awesome features regularly to make our school administrative
                software unmatchable. Free online 24/7 support for users.
            </p><br />
        </div>
        <div class="col-sm-3">
            <div class="feature-container">
                <!-- Center Mobile Image -->
                <img src="~/Content/images/play1.png" class="mobile-img" alt="Mobile Dashboard">

                <!-- 6 Circle Icons -->
                <div class="icon icon1"><img src="~/Content/images/" alt=""></div>
                <div class="icon icon2"><img src="images/laptop.png" alt=""></div>
                <div class="icon icon3"><img src="images/phone.png" alt=""></div>
                <div class="icon icon4"><img src="images/chart.png" alt=""></div>
                <div class="icon icon5"><img src="images/headphone.png" alt=""></div>
                <div class="icon icon6"><img src="images/coffee.png" alt=""></div>
            </div>
        </div>
        <div class="col-sm-5 pt-5 ps-4 ">
            <h2>
                Responsive Web Design
            </h2>
            <p>
                You can use our free school management software on any device, like Mobile, Tablet,
                Laptop, or desktop due to its responsive design.
            </p><br /><br />
            <h2>
                Infographics & Animations
            </h2>
            <p>
                We use infographics and animations to explain student's reports and results.
                Our free school software facilitates you with the optimized result.
            </p><br /><br />
            <h1>
                Fast, Secure & Easy
            </h1>
            <p>
                We use advanced tools and technologies to build up this free school
                software. It is super fast, secure, reliable, and easy to use and manage.
            </p><br />
        </div>
    </div>
</section>
<section class="whyus-section">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Text Section -->
            <div class="col-md-6 text-white">
                <button class="btn btn-primary mb-3">Why Us?</button>
                <h2><b>Why eSkooly is the best school management software?</b></h2>
                <p>
                    Besides, eSkooly is a completely free online school management software,
                    it has more school management features than any other online school
                    management system in the market. It does not end here, eSkooly is still
                    enhancing features. You will be automatically updated as a new feature
                    will be a part of our free school management software. Some main school
                    management features are given below.
                </p>
            </div>

            <!-- Right Image Section -->
            <div class="col-md-6 position-relative text-center">
                <!-- Main Monitor -->
                <img src="~/Content/images/desktop-min.png" class="monitor-img" alt="Monitor">

                <!-- Floating Small Images -->
                <img src="~/Content/images/15-min.png" class="floating-img img1" alt="Report">
                <img src="~/Content/images/6-min.png" class="floating-img img2" alt="Graph">
                <img src="~/Content/images/9-min.png" class="floating-img img3" alt="Pie Chart">
            </div>
        </div>
    </div><br /><br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <button class="btn btn-primary mt-3 ">Manage User Roles</button><br /><br />
            <h2>
                Separate Portals Available
            </h2>
            <p>
                our school management system comes with a separate portal for every user role. An admin portal with full controls,
                separate portals for Management staff, Accountant, Teachers, Parents, and Students.
            </p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>
<section class="team-section">
    <div class="container text-center">
        <!-- Characters Row -->
        <div class="characters">
            <img src="~/Content/images/mam.png" class="" />
        </div>

        <!-- Sign Up Button -->
        <button class="signup-btn">
            <a href="/home/Sign" class="text-decoration-none"><i class="fa fa-user"></i>Sign Up Now, It’s 100% Free</a>
        </button>
    </div>
</section>



<!--start about -->
<section class="message-section">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 ms-4 mt-3">
            <button class="btn btn-primary mt-3 ">Manage System</button><br /><br />
            <h2>Messaging and file sharing system</h2>
            <p>
                Discuss and share ideas with other users through our messaging system.
                With this feature, you can do real-time chat with every individual
                associated with your institution.
            </p>
            <button class="signup-btn">
                <a href="/home/Sign" class="text-decoration-none"></abbr><i class="fa fa-user"></i> Sign Up Now</a>
            </button>
        </div>
        <div class="col-sm-5 ms-5">
            <div class="image-content">
                <img src="~/Content/images/communicate.png" alt="Laptop" class="laptop">
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</section>
<!--end about -->
<!--start contact-->
<div class="contact-section">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>
                Drop us a Line.
            </h1>
            <p>
                Ask us a question, or just say Hello.
            </p>
        </div>
    </div>
    <div class="row" id="#contact">
        <div class="col-12 col-sm-6 ms-sm-5">
            <form method="post">
                <div class="row mt-5 my-0">
                    <div class="col-12 col-sm-6">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter your name" name="firstname" required class="form-control" /><br />
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter your name" name="lastname" required class="form-control" />
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>Email</label>
                        <input type="email" placeholder="Enter your email" name="email" required class="form-control" /><br />
                        <label>Number</label>
                        <input type="number" placeholder="Enter your number" name="number" required class="form-control" /><br />
                    </div>
                    <label>Message</label>
                    <textarea id="message" class="form-control ms-2" name="message" required></textarea>
                </div><br />
                <span class="text-danger">@ViewBag.contactMessage</span>
                <input type="submit" value="Send Message" class="btn btn-primary" /><br /><br /><br />
            </form>
        </div>

        <div class="col-12 col-sm-5 mt-5 ms-sm-5">
            <span id="email">Email</span>&nbsp;&nbsp;&nbsp;
            <span id="address">Address</span>&nbsp;&nbsp;&nbsp;
            <span id="contact">Conatct No</span><br /><br />
            <p id="para"><i class="fa-solid fa-envelope"></i> khanf98923@gmail.com</p>
            <p id="para1"><i class="fa-solid fa-location-dot"></i> Mahmudabad Sitapur U.P</p>
            <p id="para2"><i class="fa-solid fa-phone"></i> +91 9198702644</p><br /><br /><br /><br />

            <img src="~/Content/images/line-city.svg" class="img-fluid" />
        </div>
    </div>
    <div class="container">
        <div class="row ufooter">
            <div class="col-sm-3 mt-4">
                <p class="fs-5">About</p>
                <p class="footerabout">
                    eSkooly is the world's best and #1 ranked free online school management software.
                    Our school management software has more features than any school software in the market.
                </p>
                <p>Copyright © 2025 Faisal Khan - All rights reserved.</p>
            </div>
            <div class="col-sm-3 text-light p-3 text-center mt-5">
                <p>CMS</p>
                <a class="footermenu" href="#"> Home</a><br /><br />
                <a class="footermenu" href="#"> Pricing</a><br /><br />
                <a class="footermenu" href="/home/index"> Get Start</a><br /><br />
                <a class="footermenu" href="#"> Help</a><br /><br />
            </div>
            <div class="col-sm-3 text-light p-3 text-center mt-5">
                <p>Terms</p>
                <a class="footermenu" href="#"> Term of Service</a><br /><br />
                <a class="footermenu" href="#"> Privacy Policy</a><br /><br />
                <a class="footermenu" href="#"> Saas Services</a><br /><br />
            </div>

            <div class="col-sm-3 mt-5">
                <img src="~/Content/images/google.png" width="150px" /><br /><br /><br />
                <img src="~/Content/images/apple.png" width="150px" />
            </div>
        </div>
    </div>
</div>
<!--end contact-->
<script>
    $(document).ready(function () {
        $("#email").click(function () {
            $("#para").slideDown("fast")
            $("#para1,#para2").slideUp("fast")
        })
        $("#address").click(function () {
            $("#para1").slideDown("fast")
            $("#para,#para2").slideUp("fast")
        })
        $("#contact").click(function () {
            $("#para2").slideDown("fast")
            $("#para,#para1").slideUp("fast")
        })
    })
</script>

